@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    padding: 0;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100VH;
 
}
.calculator {
    border: 1px solid lightblue;
    border-radius: 2%;
    background-color: slategray;
 
}

.button {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 20px;
}

.s2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    margin-top: 10px;
}
.screen{
    background-color: rgb(219, 216, 213);
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    align-items: flex-end;
    height:70px;
    padding: 12px;
}
.part1{
    padding: 20px;
    background-color:rgba(54, 54, 54, 0.568);
    border-radius:2%;

    width: 100%;
}

.gr{
    font-size: 18px;
    margin: 2px 1px;

    border: none;
    border-radius: 4px;
    border:1px solid grey;
    padding: 15px;
}
.gr:hover{
    cursor: pointer;
    background-color: #0b0b24ad;
    color: white;
}

.clear-btn{
    background-color: rgb(255, 119, 119);
    width: 100%;

}
.submit-btn{
    background-color: rgb(112, 198, 255);
    width: 100%;

}
.button>button:last-child{
    margin-top: 2px;
grid-column: span 5;
background-color: lightgreen;
}